<style>
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
</p>
<p>body<br>
	 text-align: center;<br />
<br>
<h1>
	<br>
	 font-family: 'Amatic SC' <br>
	 font-weight: normal;<br>
	 color: #8ac640;<br>
	 font-size: 2.5em;<br>
</p>
</style>
